<html>
<head>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="page-header">
    <h1>Editing {{.Title}}</h1>
</div>
<form action="/save/{{.Title}}" method="POST">
    <div class="well row">
        <div class="col-md-6 col-md-offset-3" style="border-radius:5px; margin-top:50px">
            <textarea name="body" rows="20" cols="80">{{printf "%s" .Body}}</textarea>
        </div>
    <hr>
    <div style="margin: 0 auto"><input type="submit" value="Save"></div>
    </div>
</form>
</body>
</html>
