<html>
<head>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-image: url("http://cdn.pcwallart.com/images/gradient-wallpaper-2.jpg");
            /*background-image:url("http://www.wall321.com/thumbnails/detail/20120609/minimalistic%20linux%20rainbows%20arch%20linux%202560x1600%20wallpaper_www.wall321.com_59.jpg")*/
        }
        #header {   text-align: center; }
        #dabody {   text-align: center; }
        .container {    margin-top: 5%; }
        #hero {
            align-items: center;
            align-content: center;
            margin-left: 270px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <div id="hero">
        <img src="https://ih1.redbubble.net/image.73081167.6285/sticker,375x360.u4.png" style="float:left; width:138px;height:130px;">
        <img src="https://static1.squarespace.com/static/53ea051be4b06e89e7d051f2/t/56f3f4e9ac962ca4cd558231/1458849436280/?format=1500w" alt="otakuRamen" style="width:313px;height:142px;">
        <img src="https://ih1.redbubble.net/image.73081167.6285/sticker,375x360.u4.png" style="width:138px;height:130px;">
    </div>
<div class="jumbotron">
    <div class="well row">
        <div class="col-md-6 col-md-offset-3" style="border-radius:5px; margin-top:50px">

            <div id="header" class="page-header"><h1>{{.Title}}</h1></div>

                <div id="dabody" class="well well-sm" style="border-radius:5px">
                    <div>{{printf "%s" .Body}}</div>
                    <br>
                    <br>
                <div id="buttonrow">
                    <button type="button" onclick="window.location='http://Drive.google.com'" class="btn btn-success btn-lg btn-outline" style="margin-right:15px;"><img src="https://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_4.ico"></button>
                    <button type="button" onclick="window.location='http://gmail.com'" class="btn btn-success btn-lg btn-outline" style="margin-right:15px;"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/favicon.ico" style="width:32px; height:32px;"></button>
                    <button type="button" onclick="window.location='https://facebook.com'" class="btn btn-success btn-lg btn-outline" style="margin-right:15px;"><img src="https://facebook.com/favicon.ico" style="width:32px; height:32px;"></button>
                    <button type="button" onclick="window.location='http://ide.c9.io'" class="btn btn-success btn-lg btn-outline" style="margin-right:15px;"><img src="https://cdn.c9.io/nc-3.1.2323-67e2698f-wf/static/plugins/c9.profile/static/images/cloud9-logo.svg" style="width:35px; height:35px;"></button>
                    <button type="button" onclick="window.location='http://github.com'" class="btn btn-success btn-lg btn-outline"><img src="https://github.com/favicon.ico"></button>

                </div>
            </div>
        </div>
    </div>
</div>
    <p>[<a href="/edit/{{.Title}}">EDIT</a>]</p>
</div>
</body>
</html>
